{
  "clusters": [
    {
      "nodes": [
{% for host in groups["kube"] %}
        {
          "node": {
            "hostnames": {
              "manage": [
                "{{ host }}"
              ],
              "storage": [
                "{{ hostvars[host].ansible_default_ipv4.address }}"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/dev/sdc"
          ]
        }{{ "," if not loop.last else "" }}
{% endfor %}
      ]
    }
  ]
}
