---
apiVersion: v1
kind: Secret
metadata:
  name: heketi-secret
  namespace: kube-system
type: kubernetes.io/glusterfs
data:
  key: 'YWRtaW4='
---
apiVersion: storage.k8s.io/v1beta1
kind: StorageClass
metadata:
  name: gluster-heketi
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: kubernetes.io/glusterfs
reclaimPolicy: Delete
volumeBindingMode: Immediate
allowVolumeExpansion: true
parameters:
  resturl: 'http://{{ groups["kube"][0] }}:9806'
  restuser: admin
  secretName: heketi-secret
  secretNamespace: kube-system
  volumetype: replicate:2
  volumenameprefix: k8s
  clusterid: {{ heketi_cluster_id }}
