apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: prometheus
  namespace: monitoring
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`prometheus.{{ domain }}`)
      kind: Rule
      services:
        - name: prometheus-server
          port: 80
  tls:
    certResolver: le
