apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx
  name: nginx
  namespace: test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  strategy: {}
  template:
    metadata:
      labels:
        app: nginx
    spec:
      volumes:
        - name: nginx-pv
          persistentVolumeClaim:
            claimName: nginx-pvc
      containers:
        - image: nginx:alpine
          name: nginx
          resources: {}
          volumeMounts:
            - name: nginx-pv
              mountPath: /usr/share/nginx/html
          ports:
            - containerPort: 80
status: {}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nginx-pvc
  namespace: test
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 128Mi
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: test
spec:
  selector:
    app: nginx
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: nginx
  namespace: test
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`pvc.{{ domain }}`)
      kind: Rule
      services:
        - name: nginx
          port: 80
  tls:
    certResolver: le

