apiVersion: v1
kind: Namespace
metadata:
  name: test
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: load-balancer-example
  name: hello-world
  namespace: test
spec:
  replicas: 8
  selector:
    matchLabels:
      app.kubernetes.io/name: load-balancer-example
  template:
    metadata:
      labels:
        app.kubernetes.io/name: load-balancer-example
    spec:
      hostNetwork: no
      containers:
        - image: gcr.io/google-samples/node-hello:1.0
          name: hello-world
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: hello-world
  namespace: test
spec:
  selector:
    app.kubernetes.io/name: load-balancer-example
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: hello-world
  namespace: test
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`test.{{ domain }}`)
      kind: Rule
      priority: 13
      services:
        - name: hello-world
          port: 80
  tls:
    certResolver: le
