service:
  type: ClusterIP
  externalIPs: 
{% for ip in public_ips %}
    - {{ ip }}
{% endfor %}

ports:
  traefik:
    expose: no
    port: 4242
  web:
    expose: yes
    port: 80
  websecure:
    expose: yes
    port: 443

persistence:
  enabled: yes
  size: 1Gi

additionalArguments:
  - --certificatesResolvers.le.acme.storage=/data/acme.json
  - --certificatesResolvers.le.acme.email={{ user.email }}
  - --certificatesResolvers.le.acme.httpChallenge.entryPoint=web
  - --metrics.prometheus
  - --metrics.prometheus.entryPoint=traefik
  - --accessLog
  - --tracing.jaeger.samplingServerURL=http://jaeger-agent.monitoring.svc:5778/sampling
  - --tracing.jaeger.samplingType=const
  - --tracing.jaeger.samplingParam=1
  - --tracing.jaeger.localAgentHostPort=jaeger-agent.monitoring.svc:6831

deployment:
  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: /metrics
    prometheus.io/port: "4242"
