apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: traefik-dashboard-public
  namespace: kube-public
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`dashboard.{{ domain }}`)
      kind: Rule
      services:
        - kind: TraefikService
          name: api@internal

  tls: null